
.full {
  width: 100%;
  max-width: 600px;    
  margin: auto;
  background-color: aqua;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}


.inputs {
  max-width: 250px;
  width: 100%;
  margin: auto;
}


.inputs input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


@media (max-width: 600px) {
  .full {
    width: 100%;          
    padding: 15px;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  .inputs input {
    font-size: 14px;
    padding: 8px;
  }
}


h2 {
  text-align: center;
}
